/**********************************************************************
/  General
/**********************************************************************/
@font-face {
    font-family: 'makinas';
    src: url('../fonts/makinas_web.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

body
	{
		background: #e6e6e6;
		-webkit-font-smoothing: antialiased;
	}

		body.is-loading *
		{
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	::-webkit-input-placeholder,
	:-moz-placeholder,
	::-moz-placeholder,
	:-ms-input-placeholder { /* WebKit, Blink, Edge */
			margin-left:10px;
			vertical-align: bottom;
	    color: darkgray;
	}


	body,input,textarea,select
	{
		font-family: Meiryo,TakaoPGothic,'Hiragino Kaku W0';
		font-size: 20px;
		font-weight: 100;
		line-height: 1.2em;
		color: #333;
	}

	h1,h2,h4,h5,h6
	{
		font-family: 'makinas';
		color: white;
		line-height: 1.5em;
	}
  a{
    text-decoration: none;
  }
	p{
		font-family: Meiryo,TakaoPGothic,'Hiragino Kaku W0';
		color: white;
		line-height: 1.5em;
    font-size: 0.8em;
	}

  h2{
    position: relative;
    margin:10px auto;
    margin-bottom: 1em;
    padding: 0.3em;
    border:solid 1px #ff4f00;
    background:#ff4f00;
    color: white;
    font-size: 25px;
    width: 80%;
  }
  h2:after{
    position: absolute;
    bottom: -0.8em;
    left: 10%;
    z-index: 90;
    margin-left: -0.8em;
    border-top: 0.8em solid #ff4f00;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
    border-bottom: 0;
    content: "";
  }

  blockquote{
    padding:1.5em 1em;
    position:relative;
  }
  blockquote:before{
    content:"“";
    font-size:4em;
    line-height:1em;
    font-family:"ＭＳ Ｐゴシック",sans-serif;
    color:white;
    position:absolute;
    left:0;
    top:0;
  }
  blockquote:after{
    content:"”";
    font-size:4em;
    line-height:0em;
    font-family:"ＭＳ Ｐゴシック",sans-serif;
    color:white;
    position:absolute;
    right:0;
    bottom:0;
  }

  .main{
    margin:0 auto;
    width:90%;
  }

  .form{
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    min-height:300px;
    width:400px;
    background:#ff4f00;
    margin:5px;
    padding:10px;
  }
  .form--wide1{
    width:600px;
  }
  .form--wide2{
    width:800px;
  }
  .form input[type="text"],
  .form textarea{
    width:90%;
  	height:2em;
  	opacity:0.8;
    font-family: Meiryo, TakaoPGothic, 'Hiragino Kaku W0';
    font-size: 1em;
    appearance: none;
    box-shadow: none;
    border: none;
  	background: white;
    padding-left:10px;
  }
  .form input[type="text"]:focus,
  .form textarea:focus,
  .form input[type="text"].active,
  .form textarea.active{
  	opacity: 1;
    outline: none;
  }
  .form.schedule input[type="text"]{
    float:left;
    width:50%;
  }
  .form.schedule textarea{
    float:left;
    width:50%;
    height:200px;
  }

/**********************************************************************
/  Header
/**********************************************************************/
.header{
  position: relative;
  display:block;
  width:100%;
  height:150px;
  background:#ff4f00;
  padding:10px;
  overflow: hidden;
}

.header .lenin{
  position: absolute;
  height:140px;
}
.header .title{
  display: inline-block;
  height:80px;
}
.header blockquote{
  position: absolute;
  left:140px;

}

/**********************************************************************
/  Footer
/**********************************************************************/
.footer {
	margin:0 auto;
	width:100%;
	height:100px;
}

.footer h1{
  font-family:'Open Sans';
  font-size:16px;
  text-align: center;
  padding:5px;
  color:black;
}

/**********************************************************************
/  Calender
/**********************************************************************/
#datepicker{
  position: absolute;
  right:10px;
  width:45%;
}
.ui-datepicker {
  height: auto;
  margin:0 auto;
  font-family: 'Open Sans';
}
.ui-datepicker-title {
  text-align: center;
  color:white;
}
.ui-datepicker tr {
  color:white;
}
.ui-datepicker-prev {
  padding:5px;
  background: rgba(0,0,0,0.1);
  float:left;
}
.ui-datepicker-next {
  padding:5px;
  background: rgba(0,0,0,0.1);
  float:right;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
  background: rgba(0,0,0,0.5);
}
.ui-datepicker-title {
  padding:5px;
}
.ui-datepicker td{
  text-align: center;
  width:2em;
  text-decoration: none;
  background:rgba(0,0,0,0.1);
  padding:1px;
}
.ui-datepicker td:hover{
  background:rgba(0,0,0,0.3);
}
.ui-datepicker a{
  color:white;
}
/**********************************************************************
/  Animation
/**********************************************************************/
@-webkit-keyframes blink{
  0% {opacity:1;}
  100% {opacity:0.7;}

}
@keyframes blink{
  0% {opacity:1;}
  100% {opacity:0.7;}
}

@-webkit-keyframes iblink{
  0% {opacity:0.1;}
  100% {opacity:1;}

}
@keyframes iblink{
  0% {opacity:0.1;}
  100% {opacity:1;}
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
  25% {-webkit-transform: rotate(90deg);}
  50% {-webkit-transform: rotate(180deg);}
  75% {-webkit-transform: rotate(270deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
	0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
	50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
	100% {transform: rotate(360deg);}
}

/**********************************************************************
/  Responsive
/**********************************************************************/
@media only screen and (min-width: 1200px){

}
@media only screen and (max-width: 1199px){
  p{
    font-size: 14px;
  }
}
@media only screen and (max-width: 799px){
  h1{
    font-size: 3vw;
    line-height: 2em;
  }
}

@media only screen and (max-width: 600px){
}
