/**********************************************************************
/  General
/**********************************************************************/
@font-face {
    font-family: 'makinas';
    src: url('../fonts/makinas_web.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

body
	{
		background: #e6e6e6;
		-webkit-font-smoothing: antialiased;
	}

		body.is-loading *
		{
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	::-webkit-input-placeholder,
	:-moz-placeholder,
	::-moz-placeholder,
	:-ms-input-placeholder { /* WebKit, Blink, Edge */
			margin-left:10px;
			vertical-align: bottom;
	    color: darkgray;
	}


	body,input,textarea,select
	{
		font-family: Meiryo,TakaoPGothic,'Hiragino Kaku W0';
		font-size: 20px;
		font-weight: 100;
		line-height: 1.2em;
		color: #333;
	}

	h1,h2,h4,h5,h6
	{
		font-family: 'makinas';
		color: white;
		line-height: 1.5em;
	}
  a{
    text-decoration: none;
  }
	p{
		font-family: Meiryo,TakaoPGothic,'Hiragino Kaku W0';
		color: white;
		line-height: 1.5em;
    font-size: 0.8em;
	}

  h2{
    position: relative;
    margin:10px 0 1em;
    padding: 0.3em;
    border:solid 1px #ff4f00;
    background:#ff4f00;
    color: white;
    font-size: 25px;
    font-family: 'makinas';
  }
  h2:after{
    position: absolute;
    bottom: -0.8em;
    left: 10%;
    z-index: 90;
    margin-left: -0.8em;
    border-top: 0.8em solid #ff4f00;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
    border-bottom: 0;
    content: "";
  }

  blockquote{
    padding:2em 1em;
    position:relative;
  }
  blockquote:before{
    content:"“";
    font-size:4em;
    line-height:1em;
    font-family:"ＭＳ Ｐゴシック",sans-serif;
    color:white;
    position:absolute;
    left:0;
    top:0;
  }
  blockquote:after{
    content:"”";
    font-size:4em;
    line-height:0em;
    font-family:"ＭＳ Ｐゴシック",sans-serif;
    color:white;
    position:absolute;
    right:0;
    bottom:0;
  }

  .main{
    margin:0 auto;
    max-width:80%;
  }

  #breadcrumbs-one{
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin-left:-10px;
    width:1000px;
  }

  #breadcrumbs-one a{
    padding: .6em 2em .6em 2em;
    margin-left:-7px;
    display:inline-block;
    text-decoration: none;
    color: black;
    position: relative;
    background:black;
    height:100px;
    width:40%;
  }
  #breadcrumbs-one a:first-child{
    background: gray;
  }

  #breadcrumbs-one a:first-child::after,
  #breadcrumbs-one a:first-child::before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -50px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid;
    right: -50px;
  }
  #breadcrumbs-one a:first-child::after{
    z-index: 2;
    border-left-color: yellow;
  }
  #breadcrumbs-one a:first-child::before{
    right: -1.1em;
    z-index: 1;
    border-left-color: yellow;
  }

/**********************************************************************
/  Header
/**********************************************************************/
.header{
  position: relative;
  display:block;
  width:100%;
  height:150px;
  background:#ff4f00;
  padding:10px;
  overflow: hidden;
}

.header .logo{
  position: relative;
  height:400px;
}
.header .logo .lenin{
  position: absolute;
  height:140px;
}
.header .logo .title{
  display: inline-block;
  height:60px;
}
.header blockquote{
  position: absolute;
  left:150px;
}

/**********************************************************************
/  Footer
/**********************************************************************/
.footer {
	margin:0 auto;
	width:100%;
	height:100px;
}

.footer h1{
  font-family:'Open Sans';
  font-size:16px;
  text-align: center;
  padding:5px;
  color:black;
}

/**********************************************************************
/  Animation
/**********************************************************************/
@-webkit-keyframes blink{
  0% {opacity:1;}
  100% {opacity:0.7;}

}
@keyframes blink{
  0% {opacity:1;}
  100% {opacity:0.7;}
}

@-webkit-keyframes iblink{
  0% {opacity:0.1;}
  100% {opacity:1;}

}
@keyframes iblink{
  0% {opacity:0.1;}
  100% {opacity:1;}
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
  25% {-webkit-transform: rotate(90deg);}
  50% {-webkit-transform: rotate(180deg);}
  75% {-webkit-transform: rotate(270deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
	0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
	50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
	100% {transform: rotate(360deg);}
}

/**********************************************************************
/  Responsive
/**********************************************************************/
@media only screen and (min-width: 1200px){

}
@media only screen and (max-width: 1199px){
  p{
    font-size: 14px;
  }
}
@media only screen and (max-width: 799px){
  h1{
    font-size: 3vw;
    line-height: 2em;
  }
}

@media only screen and (max-width: 600px){
}
