/**********************************************************************
/  General
/**********************************************************************/
@font-face{
    font-family:'Hiragino Kaku W0';
    src: url("../fonts/hiragino_kaku_w0.ttf");
}

body
	{
		background: #e6e6e6;
		/*
		background: #4e9ad5;
		background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
		background-position: 15px 15px;
		background-image: linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
											linear-gradient(0, rgba(255, 255, 255, .3) 1px, transparent 1px),
											linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px),
											linear-gradient(0, rgba(255, 255, 255, .1) 1px, transparent 1px);
		background-image: -webkit-linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
										 -webkit-linear-gradient(0, rgba(255, 255, 255, .3) 1px, transparent 1px),
										 -webkit-linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px),
										 -webkit-linear-gradient(0, rgba(255, 255, 255, .1) 1px, transparent 1px);
	 background-image: -moz-linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
										 -moz-linear-gradient(0, rgba(255, 255, 255, .3) 1px, transparent 1px),
										 -moz-linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px),
										 -moz-linear-gradient(0, rgba(255, 255, 255, .1) 1px, transparent 1px);
	 background-image: -ms-linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
										 -ms-linear-gradient(0, rgba(255, 255, 255, .3) 1px, transparent 1px),
										 -ms-linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px),
										 -ms-linear-gradient(0, rgba(255, 255, 255, .1) 1px, transparent 1px);
	 background-image: -o-linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
										 -o-linear-gradient(0, rgba(255, 255, 255, .3) 1px, transparent 1px),
										 -o-linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px),
										 -o-linear-gradient(0, rgba(255, 255, 255, .1) 1px, transparent 1px);
										 */
		-webkit-font-smoothing: antialiased;
	}

		body.is-loading *
		{
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	::-webkit-input-placeholder,
	:-moz-placeholder,
	::-moz-placeholder,
	:-ms-input-placeholder { /* WebKit, Blink, Edge */
			margin-left:10px;
			vertical-align: bottom;
	    color: darkgray;
	}


	body,input,textarea,select
	{
		font-family: Meiryo,TakaoPGothic,'Hiragino Kaku W0';
		font-size: 1.5vw;
		font-weight: 100;
		line-height: 1.2em;
		color: #333;
	}

	h1,h2,h4,h5,h6
	{
		font-family: Meiryo,TakaoPGothic,'Hiragino Kaku W0';
		color: white;
		line-height: 1.5em;
	}

	p{
		font-family: Meiryo,TakaoPGothic,'Hiragino Kaku W0';
		color: white;
		line-height: 1.2em;
    font-size: 0.8em;
	}

	h1{
		font-size: 1.5vw;
	}
  h2{
    position: relative;
    margin:10px 0 1em;
    padding: 0.1em;
    border:solid 1px #ff4f00;
    color: white;
    font-size: 1em;
  }
  h2:after{
    position: absolute;
    bottom: -0.8em;
    left: 10%;
    z-index: 90;
    margin-left: -0.8em;
    border-top: 0.8em solid #ff4f00;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
    border-bottom: 0;
    content: "";
  }


/**********************************************************************
/  Menu
/**********************************************************************/
nav{
	position:relative;
	top:0;
	width:100%;
}

nav .menu{
	position:relative;
	margin:0 auto;
	max-width:1200px;
	height:300px;
	padding:5px;
	background:#444444;
}

nav .menu .social{
	padding:5px;
	position:absolute;
	height:50px;
	min-width: 150px;
	top:0;
	left:0;
}
nav .social li{
	display: inline-block;
}
nav .social li a{
	text-align: center;
	font-size:30px;
	color:lightgray;
	width:50px;
	line-height: 50px;
	vertical-align: middle;
}
nav .social li a:hover{
	color:#ff4f00;
}

nav .menu .search{
	position:absolute;
	right:0;
	top:0;
	width:25%;
	height:50px;
	overflow: hidden;
}
nav .menu .search a{
	position: absolute;
	top:0;
	right:0;
	line-height:50px;
	width:50px;
	display: inline-block;
	text-align:center;
	vertical-align: middle;
	color: black;
}
nav .menu .search input[type="text"] {
  display: block;
  width: 100%;
	height:50px;
	opacity:0.9;
  font-family: Meiryo, TakaoPGothic, 'Hiragino Kaku W0';
  font-size: 1rem;
	padding-left:10px;
  appearance: none;
  box-shadow: none;
  border: none;
	background: lightgray;
}
nav .menu .search input[type="text"]:focus {
	opacity: 1;
  outline: none;
}

nav .menu .language{
	position:absolute;
	right:25%;
}
nav .menu .language li{
	display: inline-block;
	margin:0px auto;
	height:50px;
}
nav .menu .language li a{
	display: inline-block;
	margin-right:10px;
	text-align: center;
	font-family: Meiryo, TakaoPGothic, 'Hiragino Kaku W0';
	font-size:1rem;
	color:gray;
	padding-top:20px;
}
nav .menu .language li a:hover{
	color:#ff4f00;
}
nav .menu .language li a.active{
	color:white;
}

nav .menu .logo{
	position:absolute;
	height:240px;
	left:0;
	bottom:0;
  width:60%;
}
nav .menu .logo img{
  display: inline-block;
  float:left;
  height:200px;
}
nav .menu .logo h1,
nav .menu .logo p{
	vertical-align: middle;
}

nav .menu .news{
	position:absolute;
	bottom:10px;
	right:0;
	width:40%;
	overflow: hidden;
}
nav .menu .news h1{
	font-size:1.2rem;
}
nav .menu .news li{
	background:#ff4f00;
	width:100%;
	height:90px;
	margin-top:5px;
	padding:5px;
	list-style-type: none;
}
nav .menu .news li:hover{
	animation:blink 0.5s ease-in-out alternate infinite;
}
nav .menu .news li　p{
	margin-left:0px;
}

/**********************************************************************
/  Body
/**********************************************************************/
.main{
}


/* ---- grid ---- */
.grid.home{
  display:block;
  margin:0 auto;
  max-width: 1200px;
  min-height: 200px;
}

/* clear fix */
.grid:after{
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid-item{
	box-sizing: border-box;
  float: left;
  width:  400px;
  height: 200px;
  overflow:hidden;
	padding:10px;
	background: #444444;
}
.grid-item.article h1{
  display: block;
  line-height:50px;
  height:50px;
  font-size: 30px;
  background: #ff4f00;
  margin-top:-10px;
  margin-left:-10px;
  margin-right:-10px;
  text-align: center;
}
.grid-item .sizer{
  font-size:40px;
  padding:5px;
  position: absolute;
  color:white;
  opacity:0.6;
  width:50px;
  text-align: center;
  margin-top:-10px;
  margin-left:-10px;
  background:rgba(255,255,255,0.5);
}
.grid-item .sizer:hover{
  opacity:1;
  color:#ff4f00;
}

.grid-item.movie,
.grid-item.slide{
  padding:0;
}
.grid-sizer{
  width:200px;
}

.grid-item.opened{
  height:400px;
}

.grid-item.movie.opened{
  width:800px;
  height:400px;
}

.grid-item.movie .sizer{
  font-size:40px;
  padding:5px;
  position: absolute;
  color:white;
  opacity:0.6;
  width:50px;
  margin:0 auto;
  text-align: center;
  background:rgba(255,255,255,0.5);
}
.grid-item.movie .sizer:hover{
  opacity:1;
  color:#ff4f00;
}

.grid-item--wide1{
	width:600px;
}
.grid-item--wide2{
	width:800px;
}

/**********************************************************************
/  Footer
/**********************************************************************/
.footer {
	margin:0 auto;
	max-width:1200px;
	height:100px;
	background:#444444;
}

/**********************************************************************
/  Animation
/**********************************************************************/
@-webkit-keyframes blink{
  0% {opacity:1;}
  100% {opacity:0.7;}

}
@keyframes blink{
  0% {opacity:1;}
  100% {opacity:0.7;}
}

@-webkit-keyframes iblink{
  0% {opacity:0.1;}
  100% {opacity:1;}

}
@keyframes iblink{
  0% {opacity:0.1;}
  100% {opacity:1;}
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
  25% {-webkit-transform: rotate(90deg);}
  50% {-webkit-transform: rotate(180deg);}
  75% {-webkit-transform: rotate(270deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
	0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
	50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
	100% {transform: rotate(360deg);}
}

/**********************************************************************
/  Slideshow
/**********************************************************************/
#slide,
#slide2{
  width:100%;
  height:100%;
  margin:0 auto;
  position:relative;
}

#slide ul,
#slide2 ul,
#slide li,
#slide2 li{
  width:100%;
  height:100%;
}

#slide img,
#slide2 img{
  position:absolute;
  left:0;
  top:0;
  height:auto;
  width:100%;
  visibility: visible;
}

/**********************************************************************
/  Responsive
/**********************************************************************/
@media only screen and (min-width: 1200px){
  nav .menu{
    width:1200px;
  }

  .grid.home{
    width:1200px;
  }

  .footer{
    width:1200px;
  }
}
@media only screen and (max-width: 1199px){
  nav .menu{
    width:800px;
  }

  h2{
    font-size: 16px;
  }

  .grid.home{
    width:800px;
  }
  .grid-item,
  .grid-item--wide1,
  .grid-item--wide2{
    width:400px;
  }

  .grid-item.article h1{
    line-height:50px;
    height:50px;
    font-size: 20px;
  }

  .footer{
    width:800px;
  }
}
@media only screen and (max-width: 799px){
  ::-webkit-input-placeholder,
	:-moz-placeholder,
	::-moz-placeholder,
	:-ms-input-placeholder { /* WebKit, Blink, Edge */
			margin-left:5px;
	}

  h1{
    font-size: 3vw;
    line-height: 2em;
  }
  h2{
    font-size: 16px;
  }
  p{
    font-size: 14px;
  }

  nav .menu{
    width:100%;
  }
  nav .menu .social{
  	height:30px;
  }
  nav .social li a{
  	font-size:20px;
  	width:30px;
  	line-height: 30px;
  }
  nav .menu .search{
  	width:30px;
  	height:30px;
  }
  nav .menu .search a{
  	line-height:30px;
  	width:30px;
    color:white;
  }
  nav .menu .search input[type="text"] {
    display: block;
  	height:30px;
  	opacity:0.9;
  	padding-left:5px;
    display:none;
  }
  nav .menu .language{
  	right:30px;
  }
  nav .menu .language li{
  	height:30px;
  }
  nav .menu .language li a{
  	margin-right:5px;
  	font-size:0.7rem;
  	padding-top:10px;
  }
  nav .menu .logo{
    width:40%;
  }
  nav .menu .logo h1,
  nav .menu .logo p{
    display: none;
  	padding-left:5px;
  }
  nav .menu .news{
  	position:absolute;
  	bottom:10px;
  	right:0;
  	width:60%;
  	overflow: hidden;
  }
  nav .menu .news h1{
  	font-size:1rem;
  }

  .grid.home{
    width:100%;
  }

  .grid-sizer{
    width:50%;
  }

  .grid-item.article h1{
    line-height:50px;
    height:50px;
    font-size: 20px;
  }

  .grid-item,
  .grid-item--wide1,
  .grid-item--wide2{
    width:50%;
  }

  .grid-item.movie.opened{
    width:100%;
  }

  .footer{
    width:100%;
  }
}

@media only screen and (max-width: 600px){
  .grid-sizer{
    width:50%;
  }

  .grid-item,
  .grid-item--wide1,
  .grid-item--wide2{
    width:100%;
  }
}
