<!DOCTYPE html>
<html>
    <head>
      <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
      <meta charset="UTF-8">
      <title>Comrade Choseyev - 同志チョーセイエフ</title>
      <%= stylesheet_link_tag "reset" %>
      <%= stylesheet_link_tag "style" %>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery-ui-i18n.min.js"></script>
      <%= javascript_include_tag "main" %>
      <script type="text/javascript">
      $(function() {
        $.datepicker.setDefaults($.datepicker.regional['ja']);
        $('#datepicker').datepicker({
          dateFormat: 'yy/mm/dd',
          nextText: '>',
          prevText: '<',
          onSelect: function(dateText, inst) {
                    $("#inputdate").val($("#inputdate").val() + dateText + " " + $("#option").val() + '\n');
          }
        });
      });
      </script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>

      <div class='header'>
        <%= image_tag asset_path("lenin.png"), :class => "lenin"%>
        <blockquote>
          <%= image_tag asset_path("title.png"), :class => "title" %>
          <!--h1>
            Труд - это оптимальные распределение работы.<br />
            労働とは仕事分配の最適化である。
          </h1-->
        </blockquote>

      </div>

      <div class='main'>
        <br />
        <h2><i class='fa fa-pencil'></i> 1分で作れる！労働スケジュール管理表 <i class='fa fa-pencil'></i></h2>
        <div style='width:100%;text-align:center;'>

          <div class='form name'>
            <input type="text" maxlength="16" id ='eventname' placeholder="(イベント名)十月革命当日のシフト" />
            <textarea placeholder="(メモ)悪天候決行。体調不良等で参加できない時はなるべく早く担当者レーニンまで連絡すること。" id='memo' wrap='soft'></textarea>
          </div>

          <div class='form form--wide1 schedule'>
            <textarea placeholder="1917/10/25" id='inputdate' wrap='soft'></textarea>
            <div id="datepicker"><input type='text' maxlength='16' id='option' placeholder='(オプション)19:00~20:00' /></div>
            <a id='clear'>< 消す</a>
            <a id='complete'>完成 ></a>
          </div>

        </div>
      </div>

      <div class='footer'>
        <h1>All rights reserved.<br />Designed by Kuma Bessmertnyykh.(@analokmaus) and Kuma Tagsanov(@tagsanov) </h1>
      </div>

    </body>
</html>
